* { box-sizing: border-box; }

body { font-family: sans-serif; }

.main-carousel {
  background: #EEE;
  height: 200px;
}


.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

